transformers
easyocr
langchain
openai
streamlit-menu-option
streamlit
matplotlib
sklearn
selenium
base64
io
time
fuzzywuzzy
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
