transformers
easyocr
langchain
openai
streamlit-menu-option
streamlit
matplotlib
sklearn
selenium
base64
io
time
fuzzywuzzy
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
